@model IEnumerable<TieuLuan.Models.Phone>

<div class=" container p-3">
    <div class="row pt-4">
        <div class="col-6">
            <h2 class="text-black-50">Phone List</h2>
        </div>
        <div class="col-6 text-right">
            <a asp-controller="Phone" asp-action="Create" class="btn btn-primary">Create New Phone</a>
        </div>

    </div>

    <br /> <br />

    @if (Model.Count() > 0)
    {
        <table class="table table-bordered table-striped" style="width:100%">
            <thead>
                <tr>
                    <th>
                        Phone Name
                    </th>
                    <th>
                        Color
                    </th>
                    <th>
                        Manufacturer
                    </th>
                    <th>
                        Storage
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var lap in Model)
                {
                <tr>
                    <td>@lap.Name</td>
                    <td>@lap.Color</td>
                    <td>@lap.Manufacturer</td>
                    <td>@lap.Storage</td>
                    <td class="text-center">
                        <div class="w-75 btn-group" role="group">
                            <a asp-controller="Phone" asp-route-Id="@lap.Id" asp-action="Edit" class="btn btn-primary">Edit</a>
                            <a asp-controller="Phone" asp-route-Id="@lap.Id" asp-action="Delete" class="btn btn-danger">Delete</a>
                        </div>
                    </td>
                </tr>
                }



            </tbody>
        </table>
    }
    else
    {
        <p>No Phone exists </p>
    }


</div>


